    </main>
    <footer class="site-footer">
      <div class="container footer-grid">
        <div>
          <strong>Bilatechral Solutions (PTY) Ltd</strong>
          <p>Reg Nr: 2023/910602/07</p>
          <p>Managing Director: Freddy Mkhabela</p>
        </div>
        <div>
          <p>Portion 5, Olifanstpoortje 319 KT, Extention 23</p>
          <p>Steelpoort, Limpopo, South Africa</p>
          <p>Services: Steelpoort, Burgersfort and surrounding areas</p>
        </div>
      </div>
    </footer>
  </body>
</html>
